# --- Node Configuration ---
PORT=8545
HOSTNAME=127.0.0.1

# --- Blockchain Configuration ---
RPC_URL=http://127.0.0.1:8545
CHAIN_ID=31337

# --- Deployment Credentials ---
# Default is Account #0 from the test mnemonic
DEPLOYER_PRIVATE_KEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80
# Mnemonic phrase (optional, used if private key is not set)
MNEMONIC="test test test test test test test test test test test junk"


# This will be populated automatically by the deployment script
DIAMOND_ADDRESS=